<ul>
<% @categories.each do |category| %>
  <li>
    <%= link_to category.name.capitalize, "/categories/#{category.id}"   %>
    <span><%= category.recipes.count %> recipes</span>
    </li>
<% end %>
</ul>
